@model ArticoleCalarie.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Ti-ai uitat parola?";
    ViewBag.MetaDescription = "Cerere de resetare a parolei pentru contul tau de pe articole-calarie.ro.";
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper">
    <h3 class="form-title">@ViewBag.Title</h3>
    @using (Html.BeginRouteForm("forgot-password-post-url", FormMethod.Post, new { @class = "form-inline", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <section class="form-wrapper">
            <div class="form-group form-group-full-width">
                <div class="row forgot-password">
                    <div class="col-xs-8 col-ss-12">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-info", placeholder = Html.DisplayNameFor(m => m.Email) })
                    </div>
                    <div class="col-xs-4 col-ss-12">
                        <input type="submit" class="btn my-btn-default btn-full-width" value="Reseteaza parola" />
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
        </section>
    }

    <div class="related-items">
        <h3 class="title supper-title"></h3>
        <br />
        <div id="forgot-password-related-products">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            getRelatedProducts('#forgot-password-related-products');
        });
    </script>
}
