@model ArticoleCalarie.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Ți-ai uitat parola?";
}
<div class="page-wrapper">
    <div class="narrow-container">
        <h3 class="form-title">@ViewBag.Title</h3>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-inline", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <section class="form-wrapper">
                <div class="form-group form-group-full-width">
                    <div class="row forgot-password">
                        <div class="col-xs-8 col-ss-12">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-info", placeholder = Html.DisplayNameFor(m => m.Email) })
                        </div>
                        <div class="col-xs-4 col-ss-12">
                            <input type="submit" class="btn my-btn-default btn-full-width" value="Email Link" />
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
