@model ArticoleCalarie.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Ți-ai uitat parola?";
}
<div class="page-wrapper">
    <div class="narrow-container">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-inline", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div>
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            </div>
            <div class="form-group form-group-full-width">
                <div class="row">
                    <div class="col-xs-8 col-ss-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-xs-4 col-ss-12">
                        <input type="submit" class="btn my-btn-default btn-full-width" value="Email Link" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
