@using ArticoleCalarie.Models
@model ArticoleCalarie.Models.LoginViewModel

@{
    ViewBag.Title = "Conecteaza-te";
    ViewBag.MetaDescription = "Conecteaza-te cu contul tau din magazinul online articole calarie pentru a comanda echipamente de echitatie rapid si ieftin.";
}

<div class="page-wrapper">
    <div class="row connect-row">
        <div class="login-col contact-content">
            <h4 class="form-title">@ViewBag.Title</h4>
            <section class="form-wrapper" id="loginForm">
                @using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-info", @placeholder = Html.DisplayNameFor(m => m.Email) })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger login-errorMessage" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "input-info", @placeholder = Html.DisplayNameFor(m => m.Password) })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger login-errorMessage" })
                    </div>
                    <div class="form-group remember-forget">
                        <div class="col-sm-6 remeber-me">
                            <label class="checkbox-container">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox-label" })
                                <span class="checkbox-checkmark"></span>
                            </label>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>
                                <a href="@Url.RouteUrl("forgot-password-url")">Ti-ai uitat parola?</a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" style="border: none; width: 100%" value="Conecteaza-te" class="submit send" />
                        </div>
                    </div>
                }
            </section>
        </div>
        <div class="register-col contact-content">
            <h4 class="form-title">Nu ai cont?</h4>
            <section class="form-wrapper">
                <div id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
                <p class="text-in-lines">
                    <span>sau</span>
                </p>
                <div class="form-group">
                    <p class="register-now">
                        @Html.ActionLink("Inregistreaza-te acum", "register", new { ReturnUrl = "/account/administrare" })
                    </p>
                </div>
            </section>
        </div>
    </div>
    <div class="related-items">
        <div id="login-related-products"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            getRelatedProducts('#login-related-products');
        });
    </script>
}