@model ArticoleCalarie.Models.UserViewModel
@using ArticoleCalarie.Models
@{
    ViewBag.Title = "Contul Meu";
    ViewBag.MetaDescription = "Administreaza contul tau pe articolecalarie.ro.";
    var deliveryAddress = new AddressViewModel();
    var billingAddress = new AddressViewModel();
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper account-manage-wrapper cf">

    @Html.Partial("_AccountHeaderPartial")

    <div class="col-sm-6">
        <h4 class="form-title">Adresa de livrare</h4>
        <div id="deliveryAddressForm" class="contact-content @(Model.DeliveryAddress == null ? "" : "hidden")">
            @using (Ajax.BeginForm("SaveDeliveryAddress", "Account", new AjaxOptions
            {
                HttpMethod = "post",
                OnComplete = "acccounEditAddressOnComplete"
            }))
            {
                @Html.AntiForgeryToken()
                if (Model.DeliveryAddress != null)
                {
                    deliveryAddress = Model.DeliveryAddress;
                }
                @Html.Partial("_AddressFormPartial", deliveryAddress, new ViewDataDictionary()
               {
                   TemplateInfo = new TemplateInfo()
                   {
                       HtmlFieldPrefix = "DeliveryAddress"
                   }
               })

                <div class="form-group">
                    <input id="deliveryAddressSaveBtn" type="submit" style="border: none; width: 100%" value="Salvează" class="submit send" />
                </div>
            }
        </div>

        <div id="deliveryAddress" class="contact-content @(Model.DeliveryAddress != null ? "" : "hidden")">
            @if (Model.DeliveryAddress != null)
            {
                <div class="address-details-wrapper">
                    <p class="name">@Model.DeliveryAddress.FullName</p>
                    <p> @Model.DeliveryAddress.PhoneNumber</p>
                    <p> 
                        @Model.DeliveryAddress.AddressLine1
                        @if (!string.IsNullOrEmpty(Model.DeliveryAddress.AddressLine2) && !string.IsNullOrWhiteSpace(Model.DeliveryAddress.AddressLine2))
                        {
                            <span>, </span>
                        }
                        @Model.DeliveryAddress.AddressLine2
                    </p>
                    <p>
                        @Model.DeliveryAddress.City
                        @if (!string.IsNullOrEmpty(Model.DeliveryAddress.PostalCode) && !string.IsNullOrWhiteSpace(Model.DeliveryAddress.PostalCode))
                        {
                            <span>, </span>
                        }
                        @Model.DeliveryAddress.PostalCode                       
                    </p>
                    <p> @Model.DeliveryAddress.County<span>, </span>@Model.DeliveryAddress.Country</p>
                    <a class="address-details-edit no-loading" id="editDeliveryAddressBtn" title="Edit">Editeaza</a>
                    <img class="delivery-truck" src="../images/delivery.png" alt="imagine adresa de livrare" />
                </div>
            }
        </div>
    </div>

    <div class="col-sm-6 facturare-adresa">
        <h4 class="form-title">Adresa de facturare</h4>
        <div id="billingAddressForm" class="contact-content @(Model.BillingAddress == null ? "" : "hidden")">
            @using (Ajax.BeginForm("SaveBillingAddress", "Account", new AjaxOptions
            {
                HttpMethod = "post",
                OnComplete = "acccounEditAddressOnComplete"
            }))
            {
                @Html.AntiForgeryToken()

                if (Model.BillingAddress != null)
                {
                    billingAddress = Model.BillingAddress;
                }
                @Html.Partial("_AddressFormPartial", billingAddress, new ViewDataDictionary()
                {
                    TemplateInfo = new TemplateInfo()
                    {
                        HtmlFieldPrefix = "BillingAddress"
                    }
                })
                
                <div class="form-group">
                    <input id="billingAddressSaveBtn" type="submit" style="border: none; width: 100%" value="Salvează" class="submit send" />
                </div>
            }
        </div>

        <div id="billingAddress" class="@(Model.BillingAddress == null ? "hidden" : "")">
            @if (Model.BillingAddress != null)
            {
                <div class="address-details-wrapper">
                    <p class="name">@Model.BillingAddress.FullName</p>
                    <p>@Model.BillingAddress.PhoneNumber</p>
                    <p>
                        @Model.BillingAddress.AddressLine1
                        @if (!string.IsNullOrWhiteSpace(Model.BillingAddress.AddressLine2) && !string.IsNullOrEmpty(Model.BillingAddress.AddressLine2))
                        {
                            <span>, </span>
                        }
                        @Model.BillingAddress.AddressLine2
                    </p>
                    <p>
                        @Model.BillingAddress.City
                        @if (!string.IsNullOrWhiteSpace(Model.BillingAddress.PostalCode) && !string.IsNullOrEmpty(Model.BillingAddress.PostalCode))
                        {
                            <span>, </span>
                        }
                        @Model.BillingAddress.PostalCode
                    </p>
                    <p>@Model.BillingAddress.County<span>, </span>@Model.BillingAddress.Country</p>
                    <a class="address-details-edit no-loading" id="editBillingAddressBtn" title="Edit">Editeaza</a>
                    <img class="billing" src="../images/billing.png" alt="imagine adresa de facturare" />
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/account-manage.js"></script>
}