@model ArticoleCalarie.Models.UserViewModel

@{
    ViewBag.Title = "Contul Meu";
}

<div style="padding: 50px" class="col-md-6">
    <h4>Addresa de livrare</h4>
    <hr />

    <div id="deliveryAddressForm" class="contact-content @(Model.DeliveryAddress == null ? "" : "hidden")">
        @using (Html.BeginForm("SaveDeliveryAddress", "Account"))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_AddressFormPartial", Model.DeliveryAddress, new ViewDataDictionary()
            {
                TemplateInfo = new TemplateInfo()
                {
                    HtmlFieldPrefix = "DeliveryAddress"
                }
            })

            <div class="form-group">
                <input id="deliveryAddressSaveBtn" type="submit" style="border: none; width: 100%" value="Salvează" class="submit send" />
            </div>
        }
    </div>

    <div id="deliveryAddress" class="contact-content @(Model.DeliveryAddress != null ? "" : "hidden")">
        @if (Model.DeliveryAddress != null)
        {
            <div class="col-md-8">
                <b>@Model.DeliveryAddress.FullName</b> <br />
                @Model.DeliveryAddress.PhoneNumber <br />
                @Model.DeliveryAddress.AddressLine1<span>, </span>@Model.DeliveryAddress.AddressLine2 <br />
                @Model.DeliveryAddress.PostalCode<span>, </span>@Model.DeliveryAddress.City <br />
                @Model.DeliveryAddress.County<span>, </span>@Model.DeliveryAddress.Country <br />
            </div>

            <div class="col-md-4">
                <a id="editDeliveryAddressBtn" title="Edit">Edit</a>
            </div>
        }
    </div>
</div>

<div style="padding: 50px" class="col-md-6">
    <h4>Adresa de facturare</h4>
    <hr />

    <div id="billingAddressForm" class="contact-content @(Model.BillingAddress == null ? "" : "hidden")">
        @using (Html.BeginForm("SaveBillingAddress", "Account"))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_AddressFormPartial", Model.BillingAddress, new ViewDataDictionary()
            {
                TemplateInfo = new TemplateInfo()
                {
                    HtmlFieldPrefix = "BillingAddress"
                }
            })

            <div class="form-group">
                <input id="billingAddressSaveBtn" type="submit" style="border: none; width: 100%" value="Salvează" class="submit send" />
            </div>
        }
    </div>

    <div id="billingAddress" class="@(Model.BillingAddress == null ? "hidden" : "")">
        @if (Model.BillingAddress != null)
        {
            <div class="col-md-8">
                <b>@Model.BillingAddress.FullName</b> <br />
                @Model.BillingAddress.PhoneNumber <br />
                @Model.BillingAddress.AddressLine1<span>, </span>@Model.BillingAddress.AddressLine2 <br />
                @Model.BillingAddress.PostalCode<span>, </span>@Model.BillingAddress.City <br />
                @Model.BillingAddress.County<span>, </span>@Model.BillingAddress.Country <br />
            </div>

            <div class="col-md-4">
                <a id="editBillingAddressBtn" title="Edit">Edit</a>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#editDeliveryAddressBtn').on('click', function () {
            $('#deliveryAddress').addClass('hidden');
            $('#deliveryAddressForm').removeClass('hidden');
        });

        $('#editBillingAddressBtn').on('click', function () {
            $('#billingAddress').addClass('hidden');
            $('#billingAddressForm').removeClass('hidden');
        });
    });
</script>
