@model ArticoleCalarie.Models.RegisterViewModel

@{
    ViewBag.Title = "Înregistrează-te";
}

<div style="padding: 30px" class="col-xs-12 col-md-offset-3 col-md-6 contact-content">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h3>Înregistrează-te</h3>

        @Html.ValidationSummary("", new { @class = "text-danger" })


        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.FullName, new { @class = "input-info", @placeholder = Html.DisplayNameFor(m => m.FullName) })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "input-info", @placeholder = Html.DisplayNameFor(m => m.Email) })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.PasswordFor(m => m.Password, new { @class = "input-info", @placeholder = Html.DisplayNameFor(m => m.Password) })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-info", @placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" style="border: none; width: 100%" class="submit send" value="Confirmă" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
