@model PagedList.IPagedList<ArticoleCalarie.Models.ProductListItemModel>
@using PagedList.Mvc;

<div id="products-content">
    <table class="table">
        <tr>
            <th>
                Cod produs
            </th>
            <th>
                Titlu produs
            </th>
            <th>
                Subcategorie
            </th>
            <th>
                Brand
            </th>
            <th>
                Preț
            </th>
            <th>
                Reducere (%)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubcategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePercentage)
                </td>
                <td>
                    @Html.ActionLink("Editează", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalii", "Details", new { productCode = item.ProductCode  }) |
                    <a href="javascript:void(0)" onclick="openDeleteModal('@item.ProductCode')">Delete</a>

                    <div id="@item.ProductCode" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">@item.ProductName</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Ești sigur ca vrei să ștergi acest produs?</p>
                                </div>
                                <div class="modal-footer"> 
                                    <button type="button" class="btn btn-primary" onclick="deleteProduct(@item.Id)">Șterge</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anulează</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>

    <div id="content-pager">
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) din @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ProductListForAdmin", new { pageNumber = page, productCode = ViewBag.ProductCode }))
    </div>
</div>