@model ArticoleCalarie.Models.ProductViewModel

@{
    ViewBag.Title = "Adaugă produs";
}

<div class="page-wrapper">
    <h3 class="form-title">Adaugă produs</h3>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <section class="form-wrapper">
            <div class="form-horizontal add-product-form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-sm-12" })
                    <div class="col-sm-12">
                        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "input-info form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-sm-12" })
                    <div class="col-sm-12">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "input-info form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-sm-12" })
                    <div class="col-sm-12">
                        <select id="categories-select"></select>
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-flex-wrapper">
                    <div class="form-flex-column">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubcategoryId, htmlAttributes: new { @class = "control-label col-sm-12" })
                            <div class="col-sm-12">
                                <input id="subcategory-autocomplete" type="text" class="input-info" />
                                @Html.ValidationMessageFor(model => model.SubcategoryId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-flex-column">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-sm-12" })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "input-info form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-flex-wrapper">
                    <div class="form-flex-column">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SalePercentage, htmlAttributes: new { @class = "control-label col-sm-12" })
                            <div class="col-sm-12">
                                @Html.EditorFor(model => model.SalePercentage, new { htmlAttributes = new { @class = "input-info form-control" } })
                                @Html.ValidationMessageFor(model => model.SalePercentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-flex-column">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-sm-12" })
                            <div class="col-sm-12">
                                <input id="brand-autocomplete" type="text" class="input-info" />
                                @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MaterialDetails, htmlAttributes: new { @class = "control-label col-sm-12" })
                    <div class="col-sm-12">
                        @Html.TextAreaFor(model => model.MaterialDetails, new { htmlAttributes = new { @class = "input-info form-control" } })
                        @Html.ValidationMessageFor(model => model.MaterialDetails, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12">Images</label>
                    <div class="col-sm-12">
                        <label class="choose-files" for="file-1"><i class="fa fa-upload" aria-hidden="true"></i> Choose files</label>
                        <input id="file-1" type="file" multiple onchange="previewAndUpload(this, false)" />
                        <div id="imgDirectory">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12">Size Chart</label>
                    <div class="col-sm-12">
                        <div class="size-new-wrapper">
                            <div id="sizeChartImgContainer"></div>
                        </div>
                        <p class="text-in-lines">
                            <span>sau</span>
                        </p>
                        <label class="choose-files" for="file-2"><i class="fa fa-upload" aria-hidden="true"></i> Choose Files</label>
                        <div id="newChartSizeImgContainer">
                        </div>
                        <input id="file-2" type="file" onchange="previewAndUpload(this, true)" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Colors</label>
                    <div class="col-sm-12">
                        <ul id="colors-list"></ul>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="create btn my-btn-default" />
                </div>
            </div>
        </section>


        @Html.HiddenFor(m => m.CategoryId);
        @Html.HiddenFor(m => m.SubcategoryId);
        @Html.HiddenFor(m => m.Images);
        @Html.HiddenFor(m => m.SizeChartImage);
        @Html.HiddenFor(m => m.Colors);
        @Html.HiddenFor(m => m.Brand);
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/product-add")
}