@model ArticoleCalarie.Models.ProductViewModel
@{
    ViewBag.Title = "DetailsForAdmin";
    bool hasMaterialDetails = !string.IsNullOrEmpty(Model.MaterialDetails);
    bool hasSizeChart = !string.IsNullOrEmpty(Model.SizeChartImage);
}

<div class="main-content product-single-page">
    <div class="container">
        @if (User.IsInRole("Admin"))
        {
            <div class="breadcrumbs">
                <a href="javascript:void(0)" id="back">Inapoi la listă</a> | @Html.ActionLink("Editează", "Edit", new { id = Model.Id })
            </div>
        }
        else
        {
            <div class="breadcrumbs">
                to be bread crumb
            </div>
        }

        <div class="product-single-content">
            <div class="about-product">
                <div class="details-thumb">
                    <div class="owl-carousel has-thumbs" data-autoplay="false" data-nav="false" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="30" data-responsive='{"0":{"items":1}, "640":{"items":1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
                        @foreach (var image in Model.ImagesList)
                        {
                            <div class="details-item">
                                <div class="main-img">
                                    <img src="~/images/products/@image" alt="@Model.ProductName">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="details-info">
                    <a class="product-name">@Model.ProductName </a>
                    <div>Cod Produs: @Model.ProductCode</div>
                    <br>
                    <div class="price"><span class="ins">@Model.Price RON</span></div>
                    <div>Reducere: @Model.SalePercentage%</div>
                    <div>Mărimi: @Model.Size</div>
                    <div class="des">@Model.Description</div>
                    <ul class="list-color">
                        @foreach (var color in Model.ColorsViewModel)
                        {
                            <li><a data-id="@color.Id" style="background-color: @color.Hex"></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="infomation-form">
        <div class="container">
            <div class="kt-tab-fadeeffect nav-tab-style1">
                <ul class="nav list-nav">
                    @if (hasMaterialDetails)
                    {
                        <li class="active"><a data-animated="zoomInUp" data-toggle="pill" href="#tab2">Detalii Material</a></li>
                    }
                    @if (hasSizeChart)
                    {
                        <li><a data-animated="zoomInUp" data-toggle="pill" href="#tab3">Tabel de marimi</a></li>
                    }
                </ul>
                <div class="tab-content">
                    @if (hasMaterialDetails)
                    {
                        <div id="tab2" class="tab-panel active">
                            <div class="additional">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <p>@Model.MaterialDetails</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (hasSizeChart)
                    {
                        <div id="tab3" class="tab-panel">
                            <div class="additional">
                                <img src="~/images/products/@Model.SizeChartImage" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>