@model ArticoleCalarie.Models.ProductViewModel
@using ArticoleCalarie.Web.Utils

@{
    ViewBag.Title = Model.ProductName.ToFirstUppercase() + " | " + ((string)ViewBag.SubcategoryName).ToFirstUppercase() + " | " + ((string)ViewBag.CategoryName).ToFirstUppercase();
    ViewBag.MetaDescription = Model.Description.ToFirstUppercase();
    ViewBag.MetaImage = "products/" + Model.ImagesList.FirstOrDefault();

    bool hasMaterialDetails = !string.IsNullOrEmpty(Model.MaterialDetails);
    bool hasSizeChart = !string.IsNullOrEmpty(Model.SizeChartImage);
    var sizes = !string.IsNullOrEmpty(Model.Size) ? Model.Size.Split(',') : new string[0];

    var brandImage = !string.IsNullOrEmpty(Model.Brand) ? Model.Brand.ToLower().Replace(" ", "-") + ".png" : "";
}

<div class="main-content product-single-page">
    <div class="container">
        @if (User.IsInRole("Admin"))
        {
            <div class="breadcrumbs">
                <a id="back">Inapoi la listă</a> | @Html.ActionLink("Editează", "Edit", new { id = Model.Id })
            </div>
        }
        else
        {      
            <div class="breadcrumbs">
                <a href="@Url.RouteUrl("subcategories-url", new { categoryName = (string)ViewBag.CategoryName})">@(((string)ViewBag.CategoryName).ToFirstUppercase())</a> 
                    <i class="fa fa-angle-right"></i> 
                        <a href="@Url.RouteUrl("product-list-url", new { categoryName = ViewBag.CategoryName, subcategoryId = ViewBag.SubcategoryId, subcategoryName = ViewBag.SubcategoryName, page = 1 })">@(((string)ViewBag.SubcategoryName).Replace("-", " ").ToFirstUppercase())</a>
                            <i class="fa fa-angle-right"></i>
                                 <span class="current">@Model.ProductName</span>
            </div>
        }

        <div class="product-single-content">
            <div id="added-to-order" style="text-align: center; display: none;" class="alert alert-success">
                <p style="font-size: 30px; padding: 10px;"><span><i class="fa fa-check-circle"></i></span></p>
                <p>Produsul a fost adaugat cu success in cosul de cumparaturi!</p>
            </div>
            <div class="about-product">
                <div class="details-thumb">
                    <div class="owl-carousel has-thumbs" data-autoplay="false" data-nav="false" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="30" data-responsive='{"0":{"items":1}, "640":{"items":1}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
                        @foreach (var image in Model.ImagesList)
                        {
                            <div class="details-item">
                                <div class="main-img">
                                    <img src="~/images/products/@image" alt="@Model.ProductName">
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="details-info">
                    @if (Model.IsOnSale)
                    {
                        <div class="group-flash">
                            <a class="product-name">@Model.ProductName </a>  <span class="flash sale">-@Model.SalePercentage%</span>
                        </div>
                    }
                    else
                    {
                        <a class="product-name">@Model.ProductName </a>
                    }

                    <div>Cod Produs: @Model.ProductCode</div>

                    <div class="price">
                        @if (Model.IsOnSale)
                        {
                            <span class="del">@Model.Price </span>
                            <span class="ins">@Model.PriceAfterSaleApplied RON</span>
                        }
                        else
                        {
                            <span class="ins">@Model.Price RON</span>
                        }
                    </div>

                    @if (!string.IsNullOrEmpty(brandImage))
                    {
                        <div style="margin-top: 15px">
                            <img height="80" src="~/images/@brandImage" />
                        </div>
                    }

                    @if (sizes.Count() > 0)
                    {
                        <div class="size margin-top">
                            <strong class="details-section">Mărimi</strong>
                            <select id="size">
                                @foreach (var size in sizes)
                                {
                                    <option>@size</option>
                                }
                            </select>
                        </div>
                    }

                    <div class="des"><strong class="details-section">Descriere</strong> @Model.Description</div>
                    @if (Model.ColorsViewModel?.Count > 0)
                    {
                        <strong class="details-section">Culori</strong>
                        <ul class="list-color">
                        @foreach (var color in Model.ColorsViewModel)
                         {
                            <li><a class="no-loading" id="@color.Name" title="@color.Name" style="background-color: @color.Hex"></a></li>
                         }
                       </ul>
                    }

                    <div class="quantity">
                        <input id="quantity" class="input-text qty text" type="text" size="4" title="Qty" value="1" name="quantity">
                        <div class="group-quantity-button">
                            <a class="plus no-loading" href="#"><i class="fa fa-sort-asc" aria-hidden="true"></i></a>
                            <a class="minus no-loading" href="#"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <a id="addToCardBtn" class="add-to-cart">ADAUGĂ ÎN COȘ</a>
                    <div class="material-details">
                        @if (hasMaterialDetails)
                        {
                            <strong class="details-section">Detalii Material</strong>
                            <p>@Model.MaterialDetails</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="product-size-chart">
            @if (hasSizeChart)
            {
                <h4>Tabel de marimi</h4>
                <p><img src="~/images/products/@Model.SizeChartImage" /></p>
            }
        </div>

        <div class="related-items">
            <h3 class="title supper-title">PRODUSE ASEMANATOARE</h3>
            <div id="details-related-products">

            </div>
        </div>

    </div>
</div>

@{
    var cartPrice = Model.IsOnSale ? Model.PriceAfterSaleApplied : Model.Price.AsDecimal();
}

@section scripts {
    <script>
        var productName = '@Model.ProductName';
        var productImage = '@Model.ImagesList.First()';
        var price = '@cartPrice.ToString()';
        var productCode = '@Model.ProductCode';
        var productCategoryName = '@ViewBag.CategoryName';
        var productSubcategoryName = '@ViewBag.SubcategoryName';
        var productSubcategoryId = '@ViewBag.SubcategoryId';

        $(document).ready(function () {
            getRelatedProducts('#details-related-products');
        });
    </script>
}