@model PagedList.IPagedList<ArticoleCalarie.Models.ProductListViewItemModel>
@using PagedList.Mvc;
@using ArticoleCalarie.Web.Utils

@{
    ViewBag.Title = ((string)ViewBag.SubcategoryName).ToFirstUppercase() + " | Produse " + ((string)ViewBag.CategoryName).ToFirstUppercase();

    if (string.Equals(ViewBag.CategoryName, "cal", StringComparison.InvariantCultureIgnoreCase))
    {
        ViewBag.MetaDescription = ((string)ViewBag.SubcategoryName).ToFirstUppercase() + " pentru calul tau, impreuna cu alte produse, echipamente si accesorii de echitatie sunt disponibile pe >> www.articolecalarie.ro >>";
    }
    else
    {
        ViewBag.MetaDescription = ((string)ViewBag.SubcategoryName).ToFirstUppercase() + " pentru echitatie si alte produse de calarie pentru tine si calul tau doar pe >> www.articolecalarie.ro >>";
    }
}

<div class="main-content grid-category-page inner-page">
    <div class="container">
        <div id="product-list-page" class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 right-content">
                <div class="auto-clear">
                    <div class="top-control box-has-content">
                        <div class="breadcrumbs">
                            <a href="@Url.RouteUrl("subcategories-url", new { categoryName = (string)ViewBag.CategoryName})">@(((string)ViewBag.CategoryName).ToFirstUppercase())</a> <i class="fa fa-angle-right"></i> <span class="current">@(((string)ViewBag.SubcategoryName).Replace("-", " ").ToFirstUppercase())</span>
                        </div>
                    </div>
                    <div class="row product-grid">
                        @foreach (var product in Model)
                        {
                            <div class="col-ss-12 col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                <div class="product-item layout1">
                                    <div class="product-inner">
                                        <div class="thumb">
                                            @if (product.IsNew && product.IsOnSale)
                                            {
                                                <div class="group-flash">
                                                    <span class="flash new">nou</span>
                                                    <span class="flash sale">-@product.SalePercentage%</span>
                                                </div>
                                            }
                                            else if (product.IsOnSale)
                                            {
                                                <div class="group-flash">
                                                    <span class="flash sale">-@product.SalePercentage%</span>
                                                </div>
                                            }
                                            else if (product.IsNew)
                                            {
                                                <div class="group-flash">
                                                    <span class="flash new">nou</span>
                                                </div>
                                            }
                                            <div class="group-button">
                                                <a href="@Url.RouteUrl("product-details-url", new { categoryName = ViewBag.CategoryName, subcategoryId = ViewBag.SubcategoryId, subcategoryName = ViewBag.SubcategoryName, productCode = product.ProductCode.ToLower(), productName = product.ProductName.ToUrlProductName()})" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Vezi detalii</a>
                                            </div>
                                            <a href="@Url.RouteUrl("product-details-url", new { categoryName = ViewBag.CategoryName, subcategoryId = ViewBag.SubcategoryId, subcategoryName = ViewBag.SubcategoryName, productCode = product.ProductCode.ToLower(), productName = product.ProductName.ToUrlProductName()})"><img src="~/images/products/@product.ProductImageName" alt="@product.ProductName"></a>
                                        </div>
                                        <div class="info">
                                            <a href="@Url.RouteUrl("product-details-url", new { categoryName = ViewBag.CategoryName, subcategoryId = ViewBag.SubcategoryId, subcategoryName = ViewBag.SubcategoryName, productCode = product.ProductCode.ToLower(), productName = product.ProductName.ToUrlProductName()})" class="product-name">@product.ProductName</a>
                                            <div class="price">
                                                @if (product.IsOnSale)
                                                {
                                                    <span class="del">@product.Price </span>
                                                    <span class="ins">@product.PriceAfterSaleApplied RON</span>
                                                }
                                                else
                                                {
                                                    <span class="ins">@product.Price RON</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @if (Model.PageCount > 1)
                {
                    <div id="content-pager">
                        @Html.PagedListPager(Model, page => Url.RouteUrl("product-list-url", new { categoryName = ViewBag.CategoryName, subcategoryId = ViewBag.SubcategoryId, subcategoryName = ViewBag.SubcategoryName, page = page }))
                    </div>
                }
            </div>

            @Html.Action("ProductListSearchPartial", "Product", new { subcategoryId = ViewBag.SubcategoryId })
        </div>
    </div>
</div>

@section scripts {
    <script>
        var categoryName = '@ViewBag.CategoryName';
        var subcategoryId = '@ViewBag.SubcategoryId';
        var subcategoryName = '@ViewBag.SubcategoryName';
    </script>
    <script src="~/Scripts/product-search.js"></script>
}