@model PagedList.IPagedList<ArticoleCalarie.Models.ProductListViewItemModel>
@using PagedList.Mvc;
@using ArticoleCalarie.Web.Utils

<div class="main-content category-nosidebar-page inner-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="main-banner">
                    <img src="~/images/banner2.jpg" alt="">
                    <div class="banner-info">
                        <h3 class="title">WoMen’s Wear Winter LOOKBOOK</h3>
                        <a href="#" class="goto-shop">SHOP THE LOOK</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 right-content">
                <div class="custom-clear">
                    <div class="row product-grid">
                        @foreach (var product in Model)
                        {
                            <div class="col-ss-12 col-xs-6 col-sm-4 col-md-4 col-lg-3 xs-clear">
                                <div class="product-item layout1">
                                    <div class="product-inner">
                                        <div class="thumb">
                                            @if (product.IsNew && product.IsOnSale)
                                            {
                                                <div class="group-flash">
                                                    <span class="flash new">nou</span>
                                                    <span class="flash sale">-@product.SalePercentage%</span>
                                                </div>
                                            }
                                            else if (product.IsOnSale)
                                            {
                                                <div class="group-flash">
                                                    <span class="flash sale">-@product.SalePercentage%</span>
                                                </div>
                                            }
                                            else if (product.IsNew)
                                            {
                                                <div class="group-flash">
                                                    <span class="flash new">nou</span>
                                                </div>
                                            }
                                            <div class="group-button">
                                                <a href="@Url.RouteUrl("product-details-url", new { categoryName = product.CategoryName, subcategoryId = product.SubcategoryId, subcategoryName = product.SubcategoryName, productCode = product.ProductCode.ToLower(), productName = product.ProductName.ToUrlProductName()})" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Vezi detalii</a>
                                            </div>
                                            <a href="@Url.RouteUrl("product-details-url", new { categoryName = product.CategoryName, subcategoryId = product.SubcategoryId, subcategoryName = product.SubcategoryName, productCode = product.ProductCode.ToLower(), productName = product.ProductName.ToUrlProductName()})"><img src="~/images/products/@product.ProductImageName" alt="@product.ProductName"></a>
                                        </div>
                                        <div class="info">
                                            <a href="@Url.RouteUrl("product-details-url", new { categoryName = product.CategoryName, subcategoryId = product.SubcategoryId, subcategoryName = product.SubcategoryName, productCode = product.ProductCode.ToLower(), productName = product.ProductName.ToUrlProductName()})" class="product-name">@product.ProductName</a>
                                            <div class="price">
                                                @if (product.IsOnSale)
                                                {
                                                    <span class="del">@product.Price </span>
                                                    <span class="ins">@product.PriceAfterSaleApplied RON</span>
                                                }
                                                else
                                                {
                                                    <span class="ins">@product.Price RON</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @if (Model.PageCount > 1)
                {
                    <div id="content-pager">
                        @Html.PagedListPager(Model, page => Url.RouteUrl("products-by-brand-url", new { pageNumber = page }))
                    </div>
                }

            </div>
        </div>
    </div>
</div>