<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Articole Călărie</title>
    <link rel="icon" type="image/png" href="~/images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body>
    <div id="spinner" class="progress-container hidden"><div class="progress"><div class="progress-bar"><div class="progress-shadow"></div></div></div></div>
    <header>
        <div class="header layout1">
            <div class="topbar">
                <div class="special-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="topbar-content left-content">
                                <div class="top-contact">
                                    <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="text">Contactați-ne: (+100) 123 456 7890</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <ul class="topbar-content right-content menu-topbar">
                                <li class="currencies">
                                    <ul class="list-currencies">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav-inner">
                    <div class="box-header-nav container-wapper">
                        <div class="special-container main-menu-wapper">
                            <a class="menu-bar mobile-navigation" href="#">
                                <span class="icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <div class="logo">
                                <a href='@Url.Action("Index", "Home")'>
                                    <img src="~/images/my_logo3.png" alt="Articole Călărie logo" id="appLogo">
                                </a>
                            </div>
                            <ul id="menu-main-menu" class="main-menu clone-main-menu">
                                <li class="menu-item menu-item-has-children shop">
                                    <!-- <span class="top-flash new"> new</span> -->
                                    <a class="kt-item-title" title="SHOP">CĂLĂREȚ</a>
                                    <div class="mega-menu submenu">
                                        <div class="widget widget-custom-menu">
                                            <h3 class="widgettitle">Antrenament</h3>
                                            <ul>
                                                <li class="@(ViewContext?.RouteData?.Values["subcategoryName"]?.ToString() == "manusi" ? "active" : "")"><a href="@Url.RouteUrl("product-list-url", new { categoryName = "calaret", subcategoryId = 2, subcategoryName = "manusi", page = 1 })">Manuși</a></li>
                                                <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 3, pageNumber = 1 })">Cizme</a></li>
                                                <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 4, pageNumber = 1 })">Ghete</a></li>
                                                <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 5, pageNumber = 1 })">Tricouri</a></li>
                                            </ul>
                                        </div>
                                        <div class="widget widget-custom-menu">
                                            <h3 class="widgettitle">Concurs</h3>
                                            <ul>
                                                <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 6, pageNumber = 1 })">Echipament protectie</a></li>
                                                <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 7, pageNumber = 1 })">Accesorii</a></li>
                                                <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 8, pageNumber = 1 })">Accesorii</a></li>
                                                <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 9, pageNumber = 1 })">Pinteni</a></li>
                                            </ul>
                                        </div>
                                        <div class="widget widget-custom-menu">
                                            <h3 class="widgettitle">Accesorii</h3>
                                            <ul>
                                                @*<li><a href="home8.html">Cămăși</a></li>
                                                    <li><a href="home9.html">Mănuși</a></li>
                                                    <li><a href="home10.html">Accesorii</a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a class="kt-item-title" title="Cal">CAL</a>
                                    <ul id="horse-products-list" class="submenu">
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 10, pageNumber = 1 })">Pinteni</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 11, pageNumber = 1 })">Frau</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 12, pageNumber = 1 })">Fraie</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 13, pageNumber = 1 })">Darlogi</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 14, pageNumber = 1 })">Accesorii frau</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 15, pageNumber = 1 })">Martingala</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 16, pageNumber = 1 })">Valtrap</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 17, pageNumber = 1 })">Reflex</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 18, pageNumber = 1 })">Coarda</a></li>
                                        <li><a href="@Url.Action("ProductViewList", "Product", new { subcategoryId = 19, pageNumber = 1 })">Accesorii zabalute</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a id="brands-section" class="kt-item-title" title="Brands">BRANDS</a>
                                    <ul id="brands-list" class="submenu"></ul>
                                </li>
                                <!-- <li class="menu-item menu-item-has-children categories">
                                    <span class="top-flash hot">hot</span>
                                    <a href="#" class="kt-item-title" title="Hot Categories">BRANDS</a>
                                    <ul class="submenu mega-menu">
                                        <li class="col-md-3 col-lg-3">
                                            <div class="category layout1">
                                                <div class="thumb">
                                                    <div class="info">
                                                        <h3 class="name">Backpacks</h3>
                                                        <span class="count-item">( 38 items )</span>
                                                    </div>
                                                    <img src="images/category1.jpg" alt="">
                                                </div>
                                                <a class="shop-button" href="#">SHOP CATEGORY</a>
                                            </div>
                                        </li>
                                        <li class="col-md-3 col-lg-3">
                                            <div class="category layout2">
                                            <a class="shop-button" href="#">SHOP CATEGORY</a>
                                                <div class="thumb">
                                                    <div class="info">
                                                        <h3 class="name">Shoes & Boots</h3>
                                                        <span class="count-item">( 58 items )</span>
                                                    </div>
                                                    <img src="images/category2.jpg" alt="">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-md-3 col-lg-3">
                                            <div class="category layout1">
                                                <div class="thumb">
                                                    <div class="info">
                                                        <h3 class="name">T-Shirts & Top</h3>
                                                        <span class="count-item">( 135 items )</span>
                                                    </div>
                                                    <img src="images/category3.jpg" alt="">
                                                </div>
                                                <a class="shop-button" href="#">SHOP CATEGORY</a>
                                            </div>
                                        </li>
                                        <li class="col-md-3 col-lg-3">
                                            <div class="category layout2">
                                                <a class="shop-button" href="#">SHOP CATEGORY</a>
                                                <div class="thumb">
                                                    <div class="info">
                                                        <h3 class="name">Sunglasses</h3>
                                                        <span class="count-item">( 63 items )</span>
                                                    </div>
                                                    <img src="images/category4.jpg" alt="">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li> -->

                                <li class="menu-item">
                                    <a href="#" class="kt-item-title" title="PAGES">NOUTĂȚI</a>
                                </li>
                                <li class="menu-item @(ViewContext?.RouteData?.Values["action"]?.ToString() == "ProductsOnSale" ? "active" : "")"><span class="top-flash hot">hot</span>
                                    <a href="@Url.RouteUrl("products-on-sale-url", new { pageNumber = 1 })">OFERTE</a>
                                </li>
                                

                                <li class="menu-item">
                                    <a href="blog.html">DESPRE</a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">CONTACT</a>
                                </li>
                            </ul>
                            <ul class="top-links">
                                @Html.Partial("_LoginPartial")
                                <li id="shopping-cart" class="box-minicart">
                                    @Html.Partial("_ShoppingCartPartial")
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer layout1 ">
            <div class="container">
                <div class="main-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-4 col-ss-12">
                            <div class="widget widget-text">
                                <h3 class="widgettitle">Welcome to Maxstore</h3>
                                <p class="des">Maecenas lorem nibh, scelerisque nec justo gravida, commodo facilisis ipsum nulla ut porttitor.</p>
                            </div>
                            <ul class="list-socials">
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-6  col-lg-2 col-ss-12">
                            <div class="widget custom-menu">
                                <h3 class="widgettitle">Our Store</h3>
                                <ul>
                                    <li><a href="#">New York</a></li>
                                    <li><a href="#">London</a></li>
                                    <li><a href="#">Bevelly Hill</a></li>
                                    <li><a href="#">Tokyo</a></li>
                                    <li><a href="#">Los Angeles</a></li>
                                    <li><a href="#">Chicago</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-4 col-ss-12">
                            <div class="widget custom-menu">
                                <h3 class="widgettitle">EXPLORE</h3>
                                <div class="row">
                                    <ul class="col-xs-6 col-ss-12">
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Backpacks</a></li>
                                        <li><a href="#">Boots</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Gifts</a></li>
                                    </ul>
                                    <ul class="col-xs-6 col-ss-12">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-2 col-ss-12">
                            <div class="widget custom-menu">
                                <h3 class="widgettitle">INFORMATION</h3>
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Latest News</a></li>
                                    <li><a href="#">Our Sitemap</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-note">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 left-content">
                            <div class="logo logo-footer">
                                <img src="~/images/my_logo3.png" alt="">
                            </div>
                            <div class="coppy-right">
                                <h3 class="content">© 2017<span class="text"> Articole Călărie</span> All rights reserved</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer -->
    <a class="back-to-top" href="#"></a>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <script>
        $(document).ready(function () {
            $('#back').on('click', function () {
                window.history.back();
            });

            $("#content-pager a[href]").on("click", function () {
                showLoader();
            });

            $("#menu-main-menu a[href]").on("click", function () {
                showLoader();
            });

            $("form").not("#logoutForm").on("submit", function () {
                if ($(this).valid()) {
                    showLoader();
                }
            });

            $(window).load(function () {
                setTimeout(function () {
                    hideLoader();
                }, 200);
            });

            if ($(window).width() <= 639) {
                $('#appLogo').attr("src", '/images/mobile_logo.png');
            }

            $("#log-out-btn").on("click", function () {
                $("#logoutForm").submit();
            });
        });

        function showLoader() {
            $("#spinner").removeClass("hidden");
        }

        function hideLoader() {
            $("#spinner").addClass("hidden");
        }

        function getRelatedProducts(id) {
            let url = window.location.origin + '/product/getrelatedproducts'

            $.ajax({
                type: "GET",
                cache: false,
                url: url,
                success: function (result) {
                    $(id).html(result);
                }
            });
        }

    </script>
    <script src="~/Scripts/shopping-cart.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/external")
    @Scripts.Render("~/bundles/modernizr")
</body>
</html>
