@using ArticoleCalarie.Models.Enums

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112994528-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112994528-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | Articole Calarie</title>

    @RenderSection("MetaNoFollow", false)
    
    <meta name="description" content="@ViewBag.MetaDescription">

    <meta property="og:title" content="@ViewBag.Title | Articole Calarie">
    <meta property="og:description" content="@ViewBag.MetaDescription">
    <meta property="og:site" content="https://www.articolecalarie.ro">
    <meta property="og:image" content="https://www.articolecalarie.ro/images/@ViewBag.MetaImage" />

    <link rel="icon" type="image/png" href="~/images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body>
    @Html.Action("CookieBar", "Home")
    <div id="spinner" class="progress-container hidden"><div class="progress"><div class="progress-bar"><div class="progress-shadow"></div></div></div></div>
    <header>
        <div class="header layout1">
            <div class="topbar">
                <div class="special-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="topbar-content left-content">
                                <div class="top-contact">
                                    <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span><span class="text">Contactați-ne: (+40) 722 143 392</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <ul class="topbar-content right-content menu-topbar">
                                <li class="currencies">
                                    <ul class="list-currencies">
                                        <li><a href="https://www.facebook.com/www.articolecalarie.ro/" target="_blank" class="no-loading"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="hidden"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="header-nav-inner">
                    <div class="box-header-nav container-wapper">
                        <div class="special-container main-menu-wapper">
                            <a class="menu-bar mobile-navigation no-loading" href="#">
                                <span class="icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <div class="logo">
                                <a href='@Url.Action("Index", "Home")'>
                                    <img src="~/images/articole-calarie-logo.png" alt="articole calarie logo" id="appLogo">
                                </a>
                            </div>
                            <ul id="menu-main-menu" class="main-menu clone-main-menu">
                                <li class="menu-item menu-item-has-children shop">
                                    <!-- <span class="top-flash new"> new</span> -->
                                    <a class="kt-item-title no-loading" title="Produse pentru calaret">CALARET</a>
                                    <div class="mega-menu submenu">
                                        @Html.Action("GetNavbarSubcategories", "Subcategory", new { categoryId = (int)CategoryViewEnum.Calaret })
                                    </div>
                                </li>
                                <li class="menu-item menu-item-has-children shop">
                                    <a class="kt-item-title no-loading" title="Produse pentru cal">CAL</a>
                                    <div id="horse-products-list" class="mega-menu submenu horse-subcategory">
                                        @Html.Action("GetNavbarSubcategories", "Subcategory", new { categoryId = (int)CategoryViewEnum.Cal })
                                    </div>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a id="brands-section no-loading" class="kt-item-title no-loading" title="Branduri disponibile">BRANDS</a>
                                    <ul id="brands-list" class="submenu">
                                        @Html.Action("GetLayoutBrands", "Brand", new { isNavbar = true })
                                    </ul>
                                </li>

                                <li class="menu-item @(ViewContext?.RouteData?.Values["action"]?.ToString() == "NewestProducts" ? "active" : "")"">
                                    <a href="@Url.RouteUrl("newest-products-url", new { pageNumber = 1 })" class="kt-item-title">NOUTATI</a>
                                </li>
                                <li class="menu-item @(ViewContext?.RouteData?.Values["action"]?.ToString() == "ProductsOnSale" ? "active" : "")"><span class="top-flash hot">hot</span>
                                    <a href="@Url.RouteUrl("products-on-sale-url", new { pageNumber = 1 })">OFERTE</a>
                                </li>
                                
                                @*<li class="menu-item">
                                    <a href="@Url.RouteUrl("about-us-url")">DESPRE NOI</a>
                                </li>*@

                                <li class="menu-item">
                                    <a href="@Url.RouteUrl("contact-url")">CONTACT</a>
                                </li>
                            </ul>
                            <ul class="top-links">
                                @Html.Partial("_LoginPartial")
                                <li id="shopping-cart" class="box-minicart">
                                    @Html.Partial("_ShoppingCartPartial")
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer layout1 ">
            <div class="container">
                <div class="main-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-lg-4 col-ss-12">
                            <div class="widget widget-text">
                                <h3 class="widgettitle">ARTICOLE CALARIE</h3>
                                <p class="des">Produse de cea mai mare calitate, de la brand-uri de renume, acum pentru tine, doar pe <a href="www.articolecalarie.ro">articolecalarie.ro</a>.</p>
                            </div>
                            <ul class="list-socials">
                                <li><a href="https://www.facebook.com/www.articolecalarie.ro/" target="_blank" class="no-loading"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="hidden"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-6  col-lg-2 col-ss-12">
                            <div class="widget custom-menu">
                                <h3 class="widgettitle">UTILE</h3>
                                <ul>
                                    <li><a href="/produse/oferte?pageNumber=1">Oferte</a></li>
                                    <li><a href="/produse/noutati?pageNumber=1">Noutati</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    @*<li><a href="/despre-noi">Despre noi</a></li>*@
                                    <li><a href="/account/login">Conecteaza-te</a></li>
                                    <li><a href="/account/register">Inregistreaza-te</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-4 col-ss-12">
                            <div style="text-transform: uppercase;" class="widget custom-menu footer-brands">
                                <h3 class="widgettitle">BRANDS</h3>
                                <div class="row">
                                    @Html.Action("GetLayoutBrands", "Brand", new { isNavbar = false })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-lg-2 col-ss-12">
                            <div class="widget custom-menu">
                                <h3 class="widgettitle">INFORMATII</h3>
                                <ul>
                                    <li><a href="@Url.RouteUrl("terms-and-conds-url")">Termeni si Conditii</a></li>
                                    <li><a href="@Url.RouteUrl("privacy-policy-url")">Politica de Confidentialitate</a></li>         
                                    <li><a href="/contact">Contacteaza-ne</a></li>
                                    <li><a href="/sitemap">Sitemap</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-note">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 left-content">
                            <div class="coppy-right">
                                <h3 class="content">© @DateTime.UtcNow.Year<span class="text"> Articole Călărie</span> Toate drepturile rezervate.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer -->
    <a class="back-to-top no-loading" href="#"></a>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/site.min.js?v2"></script>

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/external")
    @Scripts.Render("~/bundles/modernizr")
</body>
</html>
