@using ArticoleCalarie.Models

@{
    var shoppingCart = Session["ShoppingCart"] as ShoppingCartModel;
    var totalCartItems = shoppingCart?.ShoppingItems?.Sum(x => x.Quantity) ?? 0;
    var grandTotal = 0M;
}

<div class="minicart">
    <div class="cart-block">
        <a href="@Url.Action("ShoppingCartDetails", "Order")" class="cart-icon"><span class="flaticon-cart"></span></a>
        <span class="count">@totalCartItems</span>
    </div>
    @if (totalCartItems > 0)
    {
        <div class="cart-inner">
            @foreach (var product in shoppingCart.ShoppingItems)
            {
                <div id="cart-product-details">
                    <div class="cart-product-details-img">
                        <img onclick="viewProduct('@product.ProductCode')" src="~/images/products/@product.ImageName" />
                    </div>
                    <div class="cart-product-details-info">
                        <div class="cart-product-details-info-col1">
                            <p class="product-title" onclick="viewProduct('@product.ProductCode')" id="cart-product-title"><strong>@product.Quantity x</strong> @product.ProductName</p>
                            <small>@product.Color, @product.Size</small>
                        </div>
                        <div class="cart-product-details-info-col2">
                            <p>@product.Price</p>
                            <a class="product-remove" onclick="deleteFromCart('@product.ProductCode')" title="Șterge produs"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                {
                    var totalPrice = product.Quantity * product.Price;
                    grandTotal += totalPrice;
                }
            }
            <p class="cart-inner-total"><span>TOTAL: </span> @grandTotal RON</p>
            <a class="complete-order" href="@Url.Action("ShoppingCartDetails", "Order")">FINALIZEAZĂ COMANDA</a>
        </div>
    }
    else
    {
        <div class="cart-inner cart-empty">
            <p class="content">Coșul de cumpărături este gol.</p>
        </div>
    }
</div>

