@model ArticoleCalarie.Models.AddressViewModel

@using (Ajax.BeginForm("UpdateDeliveryAddress", "Order", new AjaxOptions
{
    HttpMethod = "post",
    OnFailure = "failure",
    OnComplete = "formOnComplete",
    OnSuccess = "deliveryAddressOnSuccess"
}, new { @id = "delivery-address-form", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-6">
            <span class="label-text">Nume Complet <span>*</span></span>
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger validation-error" })
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "input-info" } })
        </div>
        <div class="col-sm-6">
            <span class="label-text">Telefon <span>*</span></span>
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input-info" } })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span class="label-text">Adresa <span>*</span></span>
            @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "input-info" } })
        </div>
        <div class="col-sm-4">
            <span class="label-text">Detalii Adresa</span>
            @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "input-info" } })
        </div>
        <div class="col-sm-4">
            <span class="label-text">Cod Postal</span>
            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "input-info" } })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <span class="label-text">Tara <span>*</span></span>
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "input-info" } })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <span class="label-text">Judet <span>*</span></span>
            @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "input-info" } })
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <span class="label-text">Oras <span>*</span></span>
            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "input-info" } })
        </div>
    </div>
    <div class="group-button">
        <a id="checkout-save-delivery-address-btn" class="submit no-loading">Confirma</a>
    </div>
}
