@model ArticoleCalarie.Models.UserViewModel
@using ArticoleCalarie.Models

@{
    ViewBag.Title = "Checkout";

    var fullName = Model?.FullName;
    var deliveryPhoneNumber = Model?.DeliveryAddress?.PhoneNumber;
    var deliveryAddressLine1 = Model?.DeliveryAddress?.AddressLine1;
    var deliveryAddressLine2 = Model?.DeliveryAddress?.AddressLine2;
    var deliveryPostalCode = Model?.DeliveryAddress?.PostalCode;
    var deliveryCountry = Model?.DeliveryAddress?.Country;
    var deliveryCounty = Model?.DeliveryAddress?.County;
    var deliveryCity = Model?.DeliveryAddress?.City;
}

<div class="main-content checkout-page">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#">Home</a> / <span class="current">Checkout</span>
        </div>
        <div class="checkout-content">
            <div class="row">
                <div class="col-ss-12 col-xs-12 col-sm-12 col-lg-12">
                    <div class="checkout-choosen">
                        <ul class="list-choosen">
                            <li class="parent-content">
                                <a href="#" class="show-content"> <span class="number">01</span> CHECKOUT METHOD</a>
                                @if (Model == null)
                                {
                                    <div class="hidden-content checkout-choosen-content show">
                                        <div class="row">
                                            <div class="checkout-form col-xs-12 col-sm-4">
                                                <h3 class="title">Confirma comanda ca si vizitator</h3>
                                                <br />
                                                <span class="label-text">Introduce-ti adresa de email <span>*</span></span>     
                                                <input type="text" class="input-info"/>
                            
                                                <a href="#" class="submit continue">CONTINUE</a>
                                            </div>
                                            <div class="checkout-form col-xs-12 col-sm-4">
            
                                                <h3 class="title">Înregistrează-te</h3>
                                                <br />

                                                <div id="socialLoginForm">
                                                    @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = "/Order/Checkout" })
                                                </div>
                                                <p class="text-in-lines">
                                                    <span>sau</span>
                                                </p>

                                                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = "/Order/Checkout" }, FormMethod.Post, new { @id="register-form", @class = "form-horizontal", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <h3 class="text-label">Nume complet *</h3>
                                                    <input type="text" name="fullname" class="input-info">

                                                    <h3 class="text-label">Email *</h3>
                                                    <input type="text" name="email" class="input-info">

                                                    <h3 class="text-label">Parola *</h3>
                                                    <input type="password" name="password" class="input-info">

                                                    <h3 class="text-label">Confirmă parola *</h3>
                                                    <input type="password" name="confirmpassword" class="input-info">

                                                    <ul class="list-tick">
                                                        <li><span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span> Check-out simplu și rapid</li>
                                                        <li><span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span> Vizualizează toate comenzile tale</li>
                                                    </ul>
                                                    <br />

                                                    <a id="checkout-register-btn" class="submit login">INREGISTREAZA-TE</a>
                                                }
                                            </div>
                                            <div class="login-form col-xs-12 col-sm-4">
                                                <h3 class="title">Conectează-te</h3>
                                                <br />
                                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = "/Order/Checkout" }, FormMethod.Post, new { @id = "login-form", @class = "form-horizontal", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <h3 class="text-label">Email *</h3>
                                                    <input type="text" name="email" class="input-info">
                                                    <h3 class="text-label">Parola *</h3>
                                                    <input type="password" name="password" class="input-info">

                                                    <a id="checkout-login-btn" class="submit login">CONECTEAZĂ-TE</a>
                                                    <div class="note">
                                                        @Html.ActionLink("Ți-ai uitat parola?", "ForgotPassword", "Account")
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="hidden-content checkout-choosen-content">
                                        <p>Esti deja logat.</p>
                                    </div>
                                }
                            </li
>
                            <li class="parent-content">
                                <a href="#" class="show-content"> <span class="number">02</span> DETALII LIVRARE</a>
                                @{ 
                                    var isHidden = Model == null ? "hidden-content" : "";
                                }
                                <div class="@isHidden checkout-choosen-content">
                                    <div class="checkout-form content-form">
                                        <h4 class="main-title">Adresa de livrare</h4>

                                        <div id="checkout-delivery-address-container">
                                            @Html.Partial("_CheckoutDeliveryAddressPartial", new AddressViewModel())
                                        </div>
                                       
                                    </div>
                                </div>
                            </li>
                            <li class="parent-content">
                                <a href="#" class="show-content"> <span class="number">03</span>DETALII FACTURARE</a>
                                <div class="hidden-content checkout-choosen-content">
                                    <div class="shipping-form">
                                        <h5 class="title">Adresa de facturare</h5>
                                        <label><span class="checkbox-checkmark"></span>Identica cu addresa de livrare</label>
                                        SAU
                                        <a href="#">Introdu adresa de facturare</a>
                                        @*<span class="label-text">Address <span>*</span></span>
                                        <input type="text" class="input-info">
                                        <span class="label-text">Number Phone <span>*</span></span>
                                        <input type="text" class="input-info">*@
                                    </div>
                                </div>
                            </li>
                            <li class="parent-content">
                                <a href="#" class="show-content"> <span class="number">05</span> PAYMENT INFORMATION</a>
                                <div class="hidden-content checkout-choosen-content">
                                    <div class="payment-form">
                                        <h5 class="main-title">Payment Information</h5>
                                        <div class="info-checkout">
                                            <span class="item">Check / Money order</span>
                                            <span class="item">Credit Cart (saved)</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="parent-content">
                                <a href="#" class="show-content"> <span class="number">06</span> ORDER REVIEW</a>
                                <div class="hidden-content checkout-choosen-content">
                                    <div class="total-checkout">
                                        <span class="text">Grand Total </span><span class="price"> $100.00</span>
                                    </div>
                                    <div class="group-button">
                                        <a href="#" class="button submit">Place Order Now</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="newsletter layout1 box-has-content">
        <div class="newsletter-inner">
            <h3 class="title"> SIGN UP NOW <span>Yahoo!!</span></h3>
            <p class="des">Get 25% off on your first purchase and get more news & promotions from us.</p>
            <div class="newsletter-block">
                <input type="text" class="input-info"><a href="#" class="submit button">Subscribe!</a>
            </div>
        </div>
    </div> -->
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".continue").on("click", function () {
                $(this).closest(".hidden-content").removeClass("show");
                $(this).closest(".parent-content").next(".parent-content").find(".show-content").click();
            });

            $("#checkout-login-btn").on("click", function () {
                $("#login-form").submit();
            });

            $("#checkout-register-btn").on("click", function () {
                $("#register-form").submit();
            });

            $("#checkout-save-delivery-address-btn").on("click", function () {
                $("#delivery-address-form").submit();
            });
        });
    </script>   
}
