@model ArticoleCalarie.Models.OrderViewModel
@using ArticoleCalarie.Models

@{
    ViewBag.Title = "Checkout";
    ViewBag.MetaDescription = string.Empty;
    var fullName = Model?.DeliveryAddress?.FullName;
    var deliveryPhoneNumber = Model?.DeliveryAddress?.PhoneNumber;
    var deliveryAddressLine1 = Model?.DeliveryAddress?.AddressLine1;
    var deliveryAddressLine2 = Model?.DeliveryAddress?.AddressLine2;
    var deliveryPostalCode = Model?.DeliveryAddress?.PostalCode;
    var deliveryCountry = Model?.DeliveryAddress?.Country;
    var deliveryCounty = Model?.DeliveryAddress?.County;
    var deliveryCity = Model?.DeliveryAddress?.City;

    var grandTotal = 0M;
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="main-content checkout-page">
    <div class="container">
        <div class="checkout-content">
            <div class="row">
                <div class="col-ss-12 col-xs-12 col-sm-12 col-lg-12">
                    <div class="checkout-choosen">
                        <ul class="list-choosen">
                            <li class="parent-content">
                                <a href="#" class="show-content no-loading"> <span class="number">01</span> AUTENTIFICARE</a>
                                @if (!Model.UserIsLoggedIn)
                                {
                                    <div class="hidden-content checkout-choosen-content show">
                                        <div class="row">
                                            <div class="checkout-form col-xs-12 col-sm-4">
                                                <h3 class="title">Continua fara cont</h3>
                                                <br />

                                                @Html.Partial("_CheckoutGuestEmailFormPartial", new GuestEmailViewModel())
                                               
                                            </div>
                                            <div class="checkout-form col-xs-12 col-sm-4">
            
                                                <h3 class="title">Inregistreaza-te</h3>
                                                <br />

                                                <div id="socialLoginForm">
                                                    @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = "/comanda/checkout" })
                                                </div>
                                                <p class="text-in-lines">
                                                    <span style="background: #fff">sau</span>
                                                </p>

                                                <a href="@Url.Action("Register", "Account", new { ReturnUrl = "/comanda/checkout"})" style="width: 100%; text-align:center" class="submit send">
                                                    <strong>Inregistreaza-te</strong>
                                                </a>
                                            </div>
                                            <div class="login-form col-xs-12 col-sm-4">
                                                <h3 class="title">Conecteaza-te</h3>
                                                <br />
                                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = "/comanda/checkout" }, FormMethod.Post, new { @id = "login-form", @class = "form-horizontal", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <h3 class="text-label">Email *</h3>
                                                    <input type="text" name="email" class="input-info">
                                                    <h3 class="text-label">Parola *</h3>
                                                    <input type="password" name="password" class="input-info">

                                                    <a id="checkout-login-btn" class="submit login">CONECTEAZĂ-TE</a>                                                 
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="hidden-content checkout-choosen-content">
                                        <h4 class="main-title">Sunteti deja autentificat cu contul dvs.</h4>
                                    </div>
                                }
                            </li>

                            @{
                                var showContainerClass = Model.UserIsLoggedIn ? "show" : "";
                                var activeParentClass = Model.UserIsLoggedIn ? "active" : "";
                                var hasNoClick = Model.UserIsLoggedIn ? "" : "noClick";
                            }

                            <li class="parent-content @activeParentClass">
                                <a href="#" class="show-content @hasNoClick no-loading"> <span class="number">02</span> DETALII LIVRARE</a>
                                <div class="hidden-content checkout-choosen-content @showContainerClass">
                                    <div class="checkout-form content-form delivery-details-form">
                                        <h4 class="main-title">Adresa de livrare</h4>

                                        @if (Model?.DeliveryAddress != null)
                                        {
                                            <div id="checkout-delivery-address-container">
                                                @Html.Partial("_CheckoutDeliveryAddressPartial", Model.DeliveryAddress)
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="checkout-delivery-address-container">
                                                @Html.Partial("_CheckoutDeliveryAddressPartial", new AddressViewModel())
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                            <li class="parent-content">
                                <a href="#" class="show-content noClick no-loading"> <span class="number">03</span>DETALII FACTURARE</a>
                                <div class="hidden-content checkout-choosen-content">
                                    <div class="checkout-form content-form billing-address-form">
                                        <h4 class="main-title">Adresa de facturare</h4>
                            
                                        @if (Model?.BillingAddress != null)
                                        {
                                            <div id="checkout-billing-address-container">
                                                @Html.Partial("_CheckoutBillingAddressPartial", Model.BillingAddress)
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="checkout-billing-address-container">
                                                @Html.Partial("_CheckoutBillingAddressPartial", new AddressViewModel())
                                            </div>
                                        }

                                    </div>
                                </div>
                            </li>
                            <li class="parent-content">
                                <a href="#" class="show-content noClick no-loading"> <span class="number">04</span> DETALII PLATA</a>
                                <div class="hidden-content checkout-choosen-content">
                                    <div id="delivery-method" class="payment-form">
                                        <div class="info-checkout">
                                            <label class="checkbox-container">
                                                <input id="howToPay" type="checkbox" name="howToPay" value="Ramburs" checked disabled />
                                                <label class="checkbox-label" for="howToPay">Ramburs</label>
                                                <span class="checkbox-checkmark"></span>
                                            </label>
                                            <p>Produsele vor fi livrate la adresa ta.</p>
                                        </div>
                                    </div>

                                    <a id="ramburs-btn" class="submit continue no-loading">CONTINUA</a>
                                </div>
                            </li>
                            <li class="parent-content">
                                <a href="#" class="show-content noClick no-loading"> <span class="number">05</span> REVIZUIESTE COMANDA</a>
                                <div class="hidden-content checkout-choosen-content">
                                    <div class="total-checkout">
                                        <table class="shopping-cart-content checkout-tabel">
                                            <tr class="title">
                                                <td class="product-name">Produs</td>
                                                <td class="price">Preț</td>
                                                <td class="total">Total</td>
                                            </tr>
                                            @foreach (var product in Model.ShoppingItems)
                                            {
                                                <tr class="each-item">
                                                    <td class="product-name">
                                                        <p class="product-name">
                                                            <strong>@product.Quantity x @product.ProductName</strong>
                                                        </p>
                                                        <p>@product.Color, @product.Size</p>
                                                    </td>
                                                    <td class="price">@product.Quantity x @product.Price RON</td>
                                                    @{
                                                        var totalPrice = product.Quantity * product.Price;
                                                        grandTotal += totalPrice;
                                                    }
                                                    <td class="total">@totalPrice RON</td>
                                                </tr>
                                             }
                                        </table>
                                    </div>
                                    <div class="order-group">
                                        <div style="font-weight: 700">
                                            <span class="text">Total: </span><span class="price"> @grandTotal RON</span> <br />
                                            <span class="text">Transport: </span> <span class="price"> 0 RON</span>
                                        </div>
                                        <a id="place-order-btn" href="@Url.Action("PlaceOrder", "Order", new { totalAmount = grandTotal })" class="button submit no-loading">Comanda</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".continue").on("click", function () {
                $(this).closest(".hidden-content").removeClass("show");
                $(this).closest(".parent-content").next(".parent-content").find(".show-content").click();
            });

            $("#checkout-login-btn").on("click", function () {
                $("#login-form").submit();
            });

            $("#checkout-register-btn").on("click", function () {
                $("#register-form").submit();
            });

            $("#checkout-save-delivery-address-btn").on("click", function () {
                $("#delivery-address-form").submit();
            });

            $("#checkout-save-billing-address-btn").on("click", function () {
                $("#billing-address-form").submit();
            });

            $("#guest-email-form-btn").on("click", function () {
                $("#guest-email-form").submit();
            });

            $("#place-order-btn").on("click", function () {
                showLoader();
            });

            $("#same-as-delivery-btn").on("change", function () {
                var isChecked = $(this).prop("checked");
                $(this).val(isChecked);

                if (!isChecked) {
                    $("#billing-form-container").removeClass("hidden");
                }
                else {
                    $("#billing-form-container").addClass("hidden");
                }
            });

            $("#ramburs-btn").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                showNextContainer('#delivery-method');
            });

            noClick();
        });

        function formOnComplete() {
            hideLoader();
        }

        function deliveryAddressOnSuccess() {
            showNextContainer("#delivery-address-form");
        }

        function billingAddressOnSuccess() {
            showNextContainer("#billing-address-form");
        }

        function guestEmailFormOnSuccess() {
            showNextContainer("#guest-email-form");
        }

        function showNextContainer(id) {
            $(id).closest(".hidden-content").removeClass("show");
            $(id).closest(".hidden-content").closest(".parent-content").removeClass("active");
            $(id).closest(".parent-content").next(".parent-content").find("a.show-content").removeClass("noClick");
            $(id).closest(".parent-content").next(".parent-content").find(".show-content").click();
        }

        function noClick() {

            var list = $('.list-choosen');
            var noClickLink = $('a.noClick');
            var links = list.find(noClickLink);

            links.each(function () {
                $(this).click(function (e) {
                    if ($(this).hasClass('noClick')) {
                        e.preventDefault();
                        e.stopPropagation();
                        return false;
                    }
                });
            });

        }

        function failure() {
            console.log('failure');
        }

    </script>   
}
