@using ArticoleCalarie.Models
@using ArticoleCalarie.Web.Utils

@{
    ViewBag.Title = "Cosul tau de cumparaturi";
    ViewBag.MetaDescription = string.Empty;
    var shoppingCart = Session["ShoppingCart"] as ShoppingCartModel;
    var totalCartItems = shoppingCart?.ShoppingItems?.Sum(x => x.Quantity) ?? 0;
    var grandTotal = 0M;
    var howManyProducts = shoppingCart?.ShoppingItems?.Sum(x => x.Quantity) ?? 0;
    var produsTag = howManyProducts == 1 ? "produs" : "produse";
}

@section MetaNoFollow {
    <meta name='robots' CONTENT='NOINDEX, NOFOLLOW'>
}

<div class="page-wrapper">
    <div class="main-content checkout-page">
        <div class="container">
            <div class="cart-page-title">
                <p><span class="flaticon-cart"></span> Cosul tau de cumparaturi (@howManyProducts @produsTag)</p>
            </div>

            <div class="cart-content">
                @if (totalCartItems > 0)
            {
                    <table class="shopping-cart-content">
                        <tr class="title">
                            <td class="product-thumb">Produs</td>
                            <td class="product-name"></td>
                            <td class="price">Preț</td>
                            <td class="total">Total</td>
                        </tr>
                        @foreach (var product in shoppingCart.ShoppingItems)
                        {
                            <tr class="each-item">
                                <td class="product-thumb"><img src="~/images/products/@product.ImageName"></td>
                                <td class="product-name">
                                    <a href="@Url.RouteUrl("product-details-url", new { categoryName = product.ProductCategoryName.ToLower(), subcategoryId = product.ProductSubcategoryId, subcategoryName = product.ProductSubcategoryName.ToLower(), productCode = product.ProductCode.ToLower(), productName = product.ProductName.ToUrlProductName()})" class="product-name">
                                        <strong>@product.Quantity x @product.ProductName</strong>
                                    </a>
                                    <p class="color">Culoare: @product.Color</p>
                                    <p>Marime: @product.Size</p>
                                    <a class="delete-product" onclick="deleteFromCart('@product.ProductCode')">X Sterge</a>
                                </td>
                                <td class="price">@product.Quantity x @product.Price RON</td>
                                @{
                                    var totalPrice = product.Quantity * product.Price;
                                    grandTotal += totalPrice;
                                }
                                <td class="total">@totalPrice RON</td>
                            </tr>
                                    }
                    </table>
                    <div class="continue-shopping">
                        <div class="subtotal">
                            <h3 class="subtitle">
                                Total: @grandTotal RON
                            </h3>
                            <a href="@Url.RouteUrl("checkout-url")" class="submit checkout">Comanda</a>
                        </div>
                        <a id="back" class="continue-shopping submit">Continua cumparaturile</a>
                    </div>
                                    }
                                    else
                                    {
                                        <p class="empty-cart">Momentan nu ai nici un produs in cosul tau de cumparaturi.</p>
                                    }

            </div>

            <div class="related-items">
                <h3 class="title supper-title"></h3>
                <br />
                <div id="cart-related-products"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            getRelatedProducts('#cart-related-products');
        });
    </script>
}

